.authentication {
    width: 100%;
    padding: 8px 14px;
    .summer {
        width: 100%;
        height: 26px;
        background-color: #f7faff;
        margin-bottom: 12px;
        color: #5b9afd;
        font-size: 12px;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 0 8px;
        border-radius: 4px;
        img {
            width: 16px;
            height: 16px;
            margin-right: 4px;
        }
    }
    .autumn {
        width: 100%;
        height: 36px;
        font-weight: 600;
        color: #303442;
        font-size: 14px;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .scenery {
        width: 100%;
        height: 44px;
        padding: 0 12px;
        border: 1px solid #e4e6ed;
        border-radius: 8px;
        margin-bottom: 12px;
        display: flex;
        &.dimActive {
            cursor: not-allowed;
            background-color: #f8f9fa;
        }
        @mixin beautiful() {
            height: 24px;
            color: #303442;
            font-size: 14px;
        }
        .honey {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            input {
                width: 100%;
                @include beautiful();
            }
        }
        .butterfly {
            width: fit-content;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .bird {
                width: 20px;
                height: 20px;
            }
            .grass {
                width: 12px;
                height: 12px;
                margin-left: 4px;
            }
            div {
                width: 1px;
                height: 12px;
                transform: scaleX(.5);
                background: #c9cddb;
                margin: 0 12px;
            }
            span {
                color: #303442;
                font-size: 14px;
                margin-right: 8px;
            }
        }
        .papaya {
            flex: 1;
            height: 100%;
            display: flex;
            align-items: center;
            input {
                @include beautiful();
                flex: 1;
            }
        }
        .catwoman {
            width: calc(100% - 100px);
            height: 100%;
            display: flex;
            align-items: center;
            input {
                width: 100%;
                @include beautiful();
            }
        }
        .cauliflower {
            width: 100px;
            height: 100%;
            color: #5b9afd;
            font-size: 14px;
            display: flex;
            justify-content: right;
            align-items: center;
        }
    }
    .magic {
        width: 100%;
        height: 12px;
    }
    .fabulous {
        width: 100%;
        height: 44px;
        color: #fff;
        background-color: #5b9afd;
        font-size: 17px;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.disabledActive {
            opacity: 0.5;
        }
    }
}
