

.tab2 {
  @import "@/pages/activity/ingots/common.scss";
  .timeBox {
    width: 100%;
    overflow: hidden;
    ul {
      width: 100%;
      li {
        width: 33.3%;
        height: 175.24px;
        float: left;
        margin-top: 19.76px;
        padding: 0 3.12px;
        box-sizing: border-box;
        position: relative;
        .virtualCoin {
          @extend .moneyYT;
          width: 54.6px;
          height: 22.88px;
          line-height: 22.36px;
          left: 47.84px;
          top: 71.24px;
        }

        img {
          width: 100%;
          height: 99.84px;
        }

        .daojishi {
          width: 100%;
          height: 19.76px;
          text-align: center;
          line-height: 19.76px;
          font-size: 15.08px;
          color: #FF3946;
          font-weight: 600;
          margin: 5.2px 0;
        }
      }
    }
  }

}


.signInBox {
  @import "@/pages/activity/ingots/common.scss";
  width: calc(100% + 19.76px);
  margin-left: -9.88px;
  ul {
    width: 100%;
    $liLeft: calc((100% - 33.3%*2 - 30.16px)/2);
    li {
      width: 33.33%;
      float: left;
      margin-top: 21.84px;
      padding: 0 3.12px 15.08px 3.12px;
      box-sizing: border-box;
      position: relative;

      .pTitle {
        width: 100%;
        height: 17.16px;
        text-align: center;
        color: #FF3946;
        font-size: 13px;
        margin-bottom: 3.12px;
        @include theme-night() {
          color: #fff;
        }
      }

      .yuanbao {
        width: 100%;
        height: 127.92px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .virtualCoin {
        @extend .moneyYT;
        width: 54.6px;
        height: 24.96px;
        line-height: 24.96px;
        left: 50.44px;
        bottom: 0.884px;
      }
      .youhua {
        bottom: 0.52px;
        line-height: 26px;
      }
      .iconHook {
        width: 24.96px;
        height: 24.96px;
        position: absolute;
        right: -6.76px;
        top: 2.08px;
      }
      .iconSelected {
        width: 11.96px;
        height: 11.96px;
        position: absolute;
        left: 14.04px;
        bottom: 0px;
      }
      .fontSelected {
        font-size: 11.96px;
        color: #FF7511;
        position: absolute;
        left: 30.16px;
        bottom: 0px;
        display: inline-block;
      }
      @keyframes overturn {
        0% {
          opacity: 1;
        }
        60% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      .jiayi {
        @extend .fontSelected;
        left: auto;
        right: -15.6px;
        bottom: 4.16px;
        opacity: 0;
        animation: overturn 3s linear;
      }

    }

    li:nth-of-type(1),
    li:nth-of-type(3) {
      margin-left: $liLeft;
      margin-right: 30.16px;
    }
  }
}
