.customModal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    main {
        min-width: 310px;
        min-height: 120px;
        border-radius: 12px;
        padding: 0 16px;
        background: linear-gradient(180deg,#fdfeff 13.02%,#fdfeff 86.98%,#edf7ff);
        box-shadow: 0 4px 10px rgba(125,168,207,.35), inset 0 -2px 0 #93b6d3, inset 0 -3px 2px #aecce4, inset 0 1px 1px #fff;
        header {
            width: 100%;
            padding: 21px 0 15px 0;
            color: #3f5075;
            font-size: 16px;
            text-align: center;
        }
    }
}
