.not-found-root {
    width: 100vw;
    height: 100vh;
    padding: 80px 15px 0 15px;
    background-image: url('./img/bg_img.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .broccoli {
        width: 100%;
        color: #7a7a7b;
        font-weight: 800;
        font-size: 32px;
        display: flex;
        justify-content: center;
    }
    .spinach {
        width: 100%;
        color: #757884;
        font-size: 14px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
    .garlic {
        width: 100%;
        margin: 20px 0;
        height: 260px;
        background-image: url('./img/img_404.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .leeks {
        width: 100%;
        color: #757884;
        font-size: 14px;
        display: flex;
        justify-content: center;
        line-height: 25px;
    }
    .carrots {
        width: 100%;
        height: 36px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        button {
            width: 108px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #179cff;
            color: #fff;
            font-size: 12px;
            border-radius: 4px;
            img {
                width: 16px;
                height: 16px;
                margin-right: 4px;
            }
        }
    }
}
