.mineUnit {
    width: 100%;
    background-color: #e9f2fc;
    min-height: 100%;
    @mixin card-pea {
        $top-height: 40px;
        $bottom-height: 20px;
        position: relative;
        z-index: 2;
        background-repeat: no-repeat, no-repeat;
        background-size: calc(100% - 23px) $top-height, calc(100% - 15px) $bottom-height;
        background-position: center top, center bottom;
        background-image: url('./img/middle1.png'), url('./img/middle3.png');
        &::before {
            width: 100%;
            position: absolute;
            top: $top-height;
            right: 0;
            bottom: $bottom-height;
            left: 0;
            z-index: 1;
            content: '';
            background-repeat: repeat-y;
            background-position: center top;
            background-size: calc(100% - 15px) auto;
            background-image: url('./img/middle2.png');
        }
    }
    .sweetcorn {
        width: 100%;
        height: 48px;
    }
    .eggplants {
        width: 100%;
        height: 216px;
        padding: 0 15px;
        background-image: url('./img/my_bg.png');
        background-size: calc(100% - 15px) 100%;
        background-repeat: no-repeat;
        background-position: center center;
        main {
            width: 100%;
            height: 100%;
        }
    }
    .broccoli {
        width: 100%;
        margin-top: 15px;
        @include card-pea();
        padding: 0 13px;
        .spinach {
            width: 100%;
            height: 40px;
            color: #3f5075;
            font-size: 16px;
            text-indent: 10px;
            display: flex;
            align-items: center;
            justify-content: left;
            background-image: url('./img/spot.png');
            background-size: 6px 24px;
            background-position: left center;
            background-repeat: no-repeat;
        }
        .garlic {
            width: 100%;
            position: relative;
            z-index: 2;
            padding: 10px 0 18px;
            ul {
                width: 100%;
                display: flex;
                justify-content: left;
                flex-wrap: wrap;
                li {
                    width: 25%;
                    &:nth-child(n + 5) {
                        margin-top: 15px;
                    }
                    div {
                        width: 100%;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 40px;
                            height: 40px;
                         }
                    }
                    p {
                        color: #31455a;
                        font-size: 12px;
                        display: flex;
                        justify-content: center;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}
