
.coconut {
    min-height: 45px;
    font-size: 14px;
    line-height: 1.6;
    color: #79849e;
    text-align: center;
    padding: 0 0 20px;
}
.grape {
    display: flex;
    justify-content: center;
    padding: 0 0 25px;
    .tomato, .potato {
        width: 128px;
        height: 38px;
        border-radius: 12px;
        font-weight: 500;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tomato:nth-of-type(1) {
        background: linear-gradient(180deg, #fff 4.55%, #e7f4ff 61.81%, #e5f3ff 99.98%);
        border: .5px solid #c9daeb;
        box-shadow: rgb(255, 255, 255) 0px -2px 8px 0px inset;
        color: #3f5075;
    }
    .tomato:nth-of-type(2) {
        background: linear-gradient(181deg, #97ddff .87%, #6ac6ff 28.59%, #6bc4ff 65.54%, #82d5ff 99.46%);
        border: .5px solid rgba(175, 238, 255, .5);
        color: #fff;
        margin-left: 10px;
    }
    .potato:nth-of-type(1) {
        background: url('./img/icon1_left.png') 0 0 no-repeat, url('./img/icon1_right.png') 100% 0 no-repeat, url('./img/icon1_center.png') 0 0 repeat-x;
        background-size: auto 100%;
        color: #fff;
    }
    .potato:nth-of-type(2) {
        background: url('./img/icon2_left.png') 0 0 no-repeat, url('./img/icon2_right.png') 100% 0 no-repeat, url('./img/icon2_center.png') 0 0 repeat-x;
        background-size: auto 100%;
        color: #fff;
        margin-left: 10px;
    }
}
